nav{
    display: inline;
    color: #dddd77;
}

html{
    font-family: 'Roboto Slab', serif;
}

.title{
    font-size:50px;
    color: #77dd77 ;
    font-weight:900;
    letter-spacing: 4px;
}
#contact div{
    display: inline;

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
figcaption{
    text-align: center;
}
#resume{
    text-align: justify;
}